.card-item{
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    padding-left: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
.card-name {
    font-size:small;
}
.card-description{
    font-size:x-small;
    color:gray;
}