<section>    
    <form  class="listForm"[formGroup]="addForm" (submit)="submitApplication()">
        <input type="text" placeholder="List Name">
        <label for="title"></label>
        <input id="title" type="text" formControlName="Title">
        <label for="Description"></label>
        <input id="Description" type="text" formControlName="Description">
        <button type="submit" class="primary">_</button>
    </form>
</section>
<section class="card-item" *ngFor="let card of cardList">
    <h2 class="card-name">{{card.Title}}</h2>
    <p class="card-description">{{card.Description}}</p>
</section>
